body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #ffffff;
  background-color: #16161a;
}

header {
  font-weight: 700;
  position: absolute;
  width: 100%;
  z-index: 3;
}

header .container {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}


header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
}

header ul {
  display: flex;
}

header ul li {
  margin-left: 1.875rem;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.section-1 {
  background-image: url(/images/image_1.jpg);
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
}

main .container {
  text-align: center;
}
